<<<<<<< HEAD
<<<<<<< HEAD
$base-color: #f1f1f1;
/*----------------shop---------------*/
@font-face {
  font-family: "yofont";
  src: url('/images/fonts/iconshop.eot');
  src: url('/images/fonts/iconshop.eot?#iefix') format('embedded-opentype'),
  url('/images/fonts/iconshop.woff') format('woff'),
  url('/images/fonts/iconshop.ttf') format('truetype'),
  url('/images/fonts/iconshop.svg#iconfont') format('svg'); /* iOS 4.1- */
}
/*---------------person---------------*/
@font-face {
  font-family: 'yofont';
  src: url('/images/fonts/iconperson.eot');
  src: url('/images/fonts/iconperson.eot?#iefix') format('embedded-opentype'),
  url('/images/fonts/iconperson.woff') format('woff'),
  url('/images/fonts/iconperson.ttf') format('truetype'),
  url('/images/fonts/iconperson.svg#iconfont') format('svg');
}
/*----------------------register----------------------*/
@font-face {
  font-family: 'yofont';
  src: url('/images/fonts/iconregister.eot');
  src: url('/images/fonts/iconregister.eot?#iefix') format('embedded-opentype'),
  url('/images/fonts/iconregister.woff') format('woff'),
  url('/images/fonts/iconregister.ttf') format('truetype'),
  url('/images/fonts/iconregister.svg#iconfont') format('svg');
=======
=======
>>>>>>> lijunmin

@font-face {font-family: "yofont";
  src: url('/images/font1/iconfont.eot?t=1483345442339'); /* IE9*/
  src: url('/images/font1/iconfont.eot?t=1483345442339#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/images/font1/iconfont.woff?t=1483345442339') format('woff'), /* chrome, firefox */
  url('/images/font1/iconfont.ttf?t=1483345442339') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/images/font1/iconfont.svg?t=1483345442339#iconfont') format('svg'); /* iOS 4.1- */
<<<<<<< HEAD
>>>>>>> lijunmin
=======
>>>>>>> lijunmin
}