@charset "utf-8";
@import "./common.scss";
#register{
    @include flexbox();
    @include flex-direction(column);
    height: 100%;
    background: #f0f0f0;
    font-family: "微软雅黑";
    header{
        width: 100%;
        height: .59rem;
        background: #e6e6e6;
        text-align: center;
        line-height: .59rem;
        font-size: .18rem;
        span:nth-child(1){
            display: block;
            position: absolute;
            left: 6.1%;
            font-size: .30rem;
        }
    }
    section{
        flex: 1;
        .info{
            width: 81%;
            height: .65rem;
            border-bottom: 1px solid #d7d7d7;
            margin: auto;
            text-align: center;
            b{
                font-size: .30rem;
                position:absolute;
                left: 13.6%;
                margin-top: .24rem;
            }
            i{
                display: inline-block;
                margin-top: .4rem;
                font-size: .14rem;
            }
        }
        .tit{
            width: 100%;
            height: .48rem;
            line-height: .48rem;
            text-align: center;
            font-size: .14rem;
            color: #8c8c8c;
        }
        .res{
            width: 83.2%;
            height: .36rem;
            background: #000;
            text-align: center;
            line-height: .36rem;
            margin: auto;
            font-size: .14rem;
            color: #fff;
        }
        .other{
            height: .68rem;
            line-height: .68rem;
            font-size: .14rem;
            color: #757575;
            width: 2rem;
            margin: .30rem auto 0;
        }
        .mth{
            width: 26%;
            margin: auto;
            font-size: .32rem;
            span:nth-child(1){
                display:inline-block;
                margin-right: 8.8%;
            }
        }
    }
}
